<style>
.login input[type=text]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}
.custom-login-input{
    padding: 3px;
    border-radius: 6px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
</style>

	    
	<% if !logged_in?%>
          <li><a href= '../signup'>Sign Up</a></li>
        <% else %>
          <li><%= link_to 'Logout', logout_path, method: :delete%></li>
        <% end %>

<div class="container-fluid text-center">
  <title>Log In</title>
<div class="container-fluid text-center">
  <div class="row content">
      <h1>Log In</h1>
            <hr>

        <% provide(:title, "Log in") %>
    <div>
	    <div class="login">
		<%= form_for(:session, url: login_path) do |f|%>
		<%= f.label :email, class: "lb"%>
		<%= f.email_field :email, class: "custom-login-input"%>
		<%= f.label :password, class: "lb"%>
    <%= link_to "(forgot password)", new_password_reset_path %>
		<%= f.password_field :password, class: "custom-login-input"%>

		<%= f.label :remember_me, class: "lb" do%>
			<%= f.check_box :remember_me%>
			<span>Remember me on this computer</span>
		<% end %>

		<%= f.submit "Log in", class: "custom-login-input"%>

	    <% end %>
        </div>
	</div>

</div>
</div>
</div>



