<div class="container">  
  <div class="row">
    <h1>Course Folder</h1>
    <% if logged_in? && !correct_user?(@user)%>
      <p style="text-align: right">
        <%= link_to like_course_folder_path(@course_folder), method: :put, class: "like-btn" do %>
          Like
        <% end %>
        /
        <%= link_to dislike_course_folder_path(@course_folder), method: :put, class: "dislike-btn" do %>
          Dislike
        <% end %>
      </p>
    <% end %>

    <p>
      <b>Course code: </b>
      <%= @course_folder.name %>
    </p>
        <p>
      <b>Title: </b>
      <%= @course_folder.title %>
    </p>
    <p>
      <b>Author: </b>
      <%= @course_folder.user.name %>
    </p>
    <p>
      <b>Term: <%= @course_folder.term %>, <%= @course_folder.year %></b>
    </p>
    <% if logged_in? && current_user.course_folders.include?(@course_folder) %>
        <p style="margin-left:80%;">
        <%= link_to "Edit this course folder", edit_course_folder_path(@course_folder) %> 
        </p>
    <% end%>
    
  <hr>
  </div>

  <div class="row">
      <% if correct_user?(@user)%>
        <div class="upload-form row">
          <h3>Upload notes</h3>
          <%= form_for @course_folder, url: {action: 'upload'}, :html => {multipart: true } do |f|%>
          <div class="control-group">
            <div class="controls"> 
              <!-- The magic is coming ...look at my eyes....shazammmm -->
              

              <%= file_field_tag "notes[]", type: :file, multiple: true, class: "upload-field" %>
              <%= f.submit "Upload", :class => 'btn btn-success btn-upload' %>
            </div>
          </div>
          <% end %>
        </div>
        <hr>
      <% end %>
      <h2>Notes</h2>
    <div class="row">
      <% unless @notes.empty? %>
        <% @notes.each do |note| %>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 thumbnails">
              <%= link_to image_tag(note.thumbnail.url), note.item.url %> 
              <br>
              <% if correct_user?(@user) %>
                <div class="caption">
                  <h4><%= note.item_file_name.split('.')[0]%></h4>
                  <%=
                      link_to "Delete picture", note,
                        :data => { :confirm => "Are you sure?" },
                        :method => :delete
                  %>
                </div>
                <% end %>
            </div>
        <% end %>
      <% end %>
    </div>
    </div>
</div>
<script type="text/javascript">
  var like = document.querySelector(".like-btn");
  var dislike = document.querySelector(".dislike-btn");
  <% if !current_user.nil?%>
    <% if current_user.voted_up_on? @course_folder %>
      like.style.color = "#33D5FF";
    <% elsif current_user.voted_down_on? @course_folder %>
      dislike.style.color = "#33D5FF"
      <% end %>
  <% end %>
  like.addEventListener("click", function(){
    if (dislike.style.color == "#33D5FF") {
      dislike.style.color = "grey";
      like.style.color = "#33D5FF";
    }
  });
  dislike.addEventListener("click", function(){
    if (like.style.color == "#33D5FF") {
      like.style.color = "grey";
      dislike.style.color = "#33D5FF";
    }
  });

</script>


