<div class="user_info_wrapper">
	<div class="user_info_content_wrapper">
		<div class="user_info_content_innerwrap">
			<div class="user_info_header">
				<h3 >User information</h5>
			</div>
			<%= form_for(@user) do |f| %>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :name, class: 'user_name_label' %>
						<br>
						<%= f.text_field :name, class: 'form control', size: '35'%>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :email %>
						<br>
						<%= f.text_field :email, class: 'form control', size: '35'%>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :password %>
						<br>
						<%= f.text_field :password, class: 'form control', size: '35'%>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :password_confirmation, "Password Confirmation" %>
						<br>
						<%= f.text_field :password_confirmation, class: 'form control', size: '35'%>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.submit "Save changes", class: "btn btn-primary", size: '35'%>
					</div>
				</div>				
			<% end %>
			<div style="clear:both"></div>
		</div>

	</div>
</div>