<div class="container-fluid text-center">
  <title>Account</title>
  
        <% if !logged_in?%>
          <li><a href="../signup">Sign Up</a></li>
          <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
          <li><%= link_to 'Logout', logout_path, method: :delete%></li>
        <% end %>
</div>

<div class="container">
    <div class="user_show_wrapper">
        <div class="user_header col-md-10">
            <div class="row">
                 <div class="user_avatar col-md-1">
            <%= gravatar_for @user%>
                 </div>
                 <div class="user_name col-md-2" >
                    <h3><%= @user.name%></h3>
                </div>
           </div>
        </div>
  <div class="user_add_course col-md-10">
    <div class="page_banner col-md-6">
      Share your notes and get free notes from other users for courses!
    </div>
    <%= link_to new_course_folder_path do %>
      <div class="add_course_button btn btn-success ">
         Add Courses
      </div>
    <% end %>
  </div>
  <div class="user_courses_wrapper">
        <% @user.course_folders.each do |x|%>
          <%= link_to course_folder_path(x) do %>
              <div class="user_course col-md-3">
                <div class="course_name"><%=x.name%></div>
              </div>
          <% end %>
        <% end %>
  </div>
</div>
</div>


