<div class="container-fluid text-center">
  <title>Account</title>
  
        
</div>

<div class="container">
    <div class="user_show_wrapper">
        <div class="user_header col-md-10">
            <div class="row">
                 <div class="user_avatar col-md-1">
            <%= gravatar_for @user%>
                 </div>
                 <div class="user_name col-md-2" >
                    <h3><%= @user.name%></h3>
                </div>
           </div>
        </div>
  <div class="user_add_course col-md-10">
    <div class="page_banner col-md-6">
      Share your notes and get free notes from other users for courses!
    </div>
    <%= link_to new_course_folder_path do %>
      <div class="add_course_button btn btn-success ">
         Add Courses
      </div>
    <% end %>
  </div>
  <div >
        <% @user.course_folders.each do |x|%>
          <%= link_to course_folder_path(x) do %>
              <div class="user_courses_wrapper col-md-3">
                
                  <div class="course_name"><%=x.name%></div>
                  <div style="margin-left:70%;">
                    <%= link_to "Delete", course_folder_path(x), method: :delete, data: { confirm: 'Are you sure'} %>
                    /
                    <%= link_to "Edit", edit_course_folder_path(x) %>
                  </div>
              </div>

          <% end %>
        <% end %>
  </div>
</div>
</div>


