<!DOCTYPE html>
<html lang="en">
<head>
  <title>Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

       /*User show page*/
    
    body {
      padding-top: 60px;
      margin: 0 0 15px;
      background-color: #f6f6f6;
     }
    
     /* Remove the navbar's default margin-bottom and rounded borders */ 

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        position:fixed;
        top: 0px;
        right: 0px;
        left: 0px;
    }

    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   .row.content {height: 605px} 
    
    /* Set black background color, white text and some padding */
     footer { 
        position: absolute;
        bottom: 0;
        background-color: #555;
        color: white;
        padding: 15px;
        width: 100%;
    }
    </style>
  </head>
  
  
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">QSFU</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="../welcome">Home</a></li>
        <li><a href="../about">About</a></li>
        <li class="active"><a href="#">Account</a></li>
        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
	      
<!-- 	      this doesn't actually log the user out, just re routes to log in -->
        <li><a href="../login"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
         
      </ul>
    </div>
  </div>
</nav>

<div class="container">
<div class="user_show_wrapper">
  <div class="user_header col-md-10">
      <div class="row">
          <div class="user_avatar col-md-1">
            <%= gravatar_for @user%>
          </div>
          <div class="user_name col-md-2" >
            <h3><%= @user.name%></h3>
          </div>
      </div>
  </div>
  <div class="user_add_course col-md-10">
    <div class="page_banner col-md-6">
      Share and get free notes for a specific course
    </div>
    <%= link_to '#' do %>
      <div class="add_course_button btn btn-success ">
         Add Courses
      </div>
    <% end %>
  </div>
  <div class="user_courses_wrapper">
        <% @user.courses.each do |x|%>
          <%= link_to course_path(x) do %>
              <div class="user_course col-md-3">
                <div class="course_name"><%=x.name%></div>
              </div>
          <% end %>
        <% end %>
  </div>
</div>
</div>

<footer class="container-fluid text-center">
  <p>Created by Rafid Ashab Pranto, Angad Aujla, Shayna Grose, Mario Imeri and Lam Nguyen. Spring 2018.</p>
</footer>

</body>
</html>