<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" >
<div class="row">
  <div class="course_header">
    <h1><%= @course.name %>: <%= @course.title %></h1>
    
    <%= link_to "Add notes",  "#", class: "add_note"%>
    <hr>
  </div>

  <div class="list_of_note">
    <% @user_folders.each do |x| %>
      <%= link_to course_folder_path(x) do %>
      <div class="note panel panel-default">
      
        <aside class="col-md-4">
          <section class="note_info">
          
          <p></p>
          <i class="material-icons" style="font-size:60px;color:black">folder</i>
          <p></p>

          <h1>
            Author: <%= @user.name %>
          </h1>

          <p></p>
          <h1>
            Term: <%= x.term %>, <%= x.year%>
          </h1>
          <p></p>

          <p>
            <%= link_to "Show", '#'%>/
            <%= link_to "Edit", '#'%>/
            <%= link_to "Delete", '#'%>
          </p>
          </section>
        </aside>
      </div>
      <% end %>
      <div>
        <button class="social-like" >
            <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
            <span class="count" >0</span>
        </button>
        
        &nbsp;

        <button class="social-dislike" >
             <span class="dislike" >0</span>
             <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
        </button>
        
        <% @course_folders.each do |x| %>
    <%= link_to like_course_folder_path(x), method: :put do %>
  Upvote
  <%= course_folder.get_upvotes.size %>
<% end %>

  <%= link_to dislike_course_folder_path(x), method: :put do %>
  Downvote
  <%= course_folder.get_downvotes.size %>
<% end %>
<% end %>

      </div>
    
  <% end %>
    <% @non_user_folders.each do |x| %>
      <%= link_to course_folder_path(x) do %>
      <div class="note panel panel-default">
        <aside class="col-md-4">
          <section class="note_info">
          
          <p></p>
          <i class="material-icons" style="font-size:60px;color:black">folder</i>
          <p></p>

          <p></p>
          <h1>
            Author: <%= x.user.name %>
          </h1>
          <p></p>
          <h1>
            Term: <%= x.term %>, <%= x.year%>
          </h1>
          <p></p>
          </section>
        </aside>
      </div>
      <% end %>
      <div>
        <button class="social-like" >
                 <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                 <span class="count" >0</span>
             </button>
            &nbsp;
        <button class="social-dislike" >
             <span class="dislike" >0</span>
             <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
        </button>  
      </div> 
     
    <% end %>

  </div>

</div>
</div>