

<div class="container" >
<div class="row">

  <div class="course_header">
    <h1><%= @course.name %>: <%= @course.title %></h1>
  </div>

<!-- Start here -->

  <div class="list_of_note">
  
     <p>
    Sort by:
    <%= form_for @course, url:  course_path(@course), method: :get, html: {class: "sort-form" } do |f|%>
      <%= select_tag(:sort_by, options_for_select([['none'], ['upvotes'],['downvotes']]), class: 'sort-selection' ) %>
    <%= f.submit "Sort", class: 'sort-submit'%>
    <% end %>
    </p>  
    <!-- <p>
      <%= link_to "upvotes", course_path(@course, sort_by: "upvotes") , method: :get %>
    </p> -->
    <% @user_folders.each do |x| %>
        <%= link_to course_folder_path(x) do %>
        <div class="note panel panel-default" style="height:220px"">
        <aside class="col-md-4">
          <section class="note_info">
          
          <p></p>
          <i class="material-icons" style="font-size:60px;color:black">folder</i>
          <p></p>

          <h1>
            Author: <%= @user.name %>
          </h1>

          <p></p>
          <h1>
            Term: <%= x.term %>, <%= x.year%>
          </h1>
          <p></p>

          <p>
            <%= link_to "Delete", course_folder_path(x), method: :delete, data: { confirm: 'Are you sure'} %>

          </p>
        </section>
        </aside>


        <div class = "c1">
          
          <button class="social-like" >
                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <span class="count" ><%= x.get_upvotes.size %></span>
          </button>
              
          

          
                <button class="social-dislike" >
                   <span class="dislike" ><%= x.get_downvotes.size %></span>
                   <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                </button>    
          
        </div>

        </div>

      <% end %>
    <% end %>

    <% @non_user_folders.each do |x| %>
      <%= link_to course_folder_path(x) do %>
      <div class="note panel panel-default" style="height:220px">
        <aside class="col-md-4">
          <section class="note_info">
          
          <p></p>
          <i class="material-icons" style="font-size:60px;color:black">folder</i>
          <p></p>

          <p></p>
          <h1>
            Author: <%= x.user.name %>
          </h1>
          <p></p>
          <h1>
            Term: <%= x.term %>, <%= x.year%>
          </h1>
          <p></p>

          </section>
        </aside>

          <div class="c1">
          <button class="social-like" >
                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <span class="count" ><%= x.get_upvotes.size %></span>
          </button>
              
                <button class="social-dislike" >
                   <span class="dislike" ><%= x.get_downvotes.size %></span>
                   <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
                </button>    
          </div>

      </div>

      

      <% end %>
    <%end %>

  </div>

</div>
</div>
<script type="text/javascript">

  var sortBy = document.querySelector('.sort-selection');
  var sortForm = document.querySelector('.sort-form');
  var url = new URL(document.URL);
  var params = url.searchParams.get("sort_by");
  if (params == "upvotes") {
    sortBy.value = "upvotes";
  }else if(params == "downvotes"){
    sortBy.value = "downvotes";
  }
  $(".sort-selection").change(function(){
    if (sortBy.value == "upvotes") {
      sortForm.action = "/courses/<%= @course.id%>?sort_by=upvotes";
    }else if(sortBy.value == "downvotes"){
      sortForm.action = "/courses/<%= @course.id%>?sort_by=downvotes";
    }else{
      sortForm.action = "/courses/<%= @course.id%>"
    }
  });
</script>