<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/jquery.leanModal.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
  	<div>
  	<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    <%= yield %>
	</div>
  <%= render 'layouts/footer'%>

  <script type="text/javascript">
    var baseURI = document.baseURI;
    var path = window.location.pathname;
    if (path == "/welcome" || path == "/" ) {
      $("body").css({
          paddingTop: "160px",
          backgroundImage: " url(https://c2.staticflickr.com/8/7172/6552664403_5795f590cc_b.jpg)",
          backgroundRepeat: "no-repeat",
          backgroundSize: "100% 100%",
          backgroundOrigin: "content-box",
        })

      $("#home-btn").addClass("active");
    }else if (path == "/about") {
      $("#about-btn").addClass("active");
    }
    $("#modal_trigger_1").leanModal({
      top: 100,
      overlay: 0.6,
      closeButton: ".modal_close"
    });
    $("#modal_trigger_2").leanModal({
      top: 100,
      overlay: 0.6,
      closeButton: ".modal_close"
    });
    jQuery(function() {
      return $('#search-input').autocomplete({
      source: $('#search-input').data('autocomplete-source'),
      minLength:2
      });
    });
    <% if singupErrorsDetected? %>
      $("#modal_trigger_1").click();
    <% end %>
    <% if loginErrorsDetected? %>
      $("#modal_trigger_2").click();
    <% end %>
    $(".modal_close .signup_close").click(function(){
      <% setSignUpErrorsDetected(false)%>
      <% setSignUpErrors([])%>
    });
    $(".modal_close .login_close").click(function(){
      <% setLoginErrorsDetected(false)%>
      <% setLoginErrors([])%>
    });
    if (path == "/welcome" || path == "/about") {
      document.getElementById("myFooter").style.display = "block";
    }else{
      document.getElementById("myFooter").style.display = "none";
    }
  </script>
  </body>


</html>
