<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/jquery.leanModal.min.js" type="text/javascript"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
  	<div>
  	<% flash.each do |message_type, message| %>
        <%= content_tag(:div, message) %>
      <% end %>
    <%= yield %>
	</div>

  <%= render 'layouts/footer' %>

  <script type="text/javascript">
    var baseURI = document.baseURI;
    if (baseURI == "http://localhost:3000/welcome" || baseURI == "http://localhost:3000/" ) {
      $("body").css({
        paddingTop: "60px",
        backgroundImage: "url(https://evanmccuish.files.wordpress.com/2017/01/6552664403_5795f590cc_b.jpg)",
        backgroundRepeat: "no-repeat",
        backgroundSize: "100% 100%"
      })
      $("#home-btn").addClass("active");
    }else if (document.baseURI == "http://localhost:3000/about") {
      $("#about-btn").addClass("active");
    }
    $("#modal_trigger_1").leanModal({
      top: 100,
      overlay: 0.6,
      closeButton: ".modal_close"
    });
    $("#modal_trigger_2").leanModal({
      top: 100,
      overlay: 0.6,
      closeButton: ".modal_close"
    });
    
  </script>
  </body>
</html>
